*{
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
}
.container{
    margin: 0 5%;
}
.menu ul{

    text-align: justify;
    display: flex;
    float: right;
    gap: 40px;
    margin-top: -5%;
}

.menu a{
    text-decoration: none;
    list-style: none;
}
.menu ul{
    list-style: none; 
    font-size: 15px;
}
.logo img{
    display: flex;
    width: 150px;
} 

.hero-wrapper{
    margin-left: 10%;
}
.hero-img{
    float: right;
    padding-right: 5%;
}

.about-hero{
    border-bottom: 5px solid rgb(236, 58, 13);
    position: absolute;
    background: transparent;
    width: 60%;
    margin-top: 5%;
}

.about-content{
    margin-top: 10%;
    font-size: 50px;
}
.about-content h2{
   font-size: 30px;
   margin-top: 2%;
}
.about-content p{
    font-size: 22px;
    margin-top: 2%;  
}

.award-info-container{
    margin: 5%;
}

.award-heading{
    float: right;
    margin-top: -37%;
    font-size: 17px;
}

.red-line{
    border-bottom: 4px solid rgb(236, 58, 13);
    width: 30%;
    float: right;
    margin-top: -30%;
}

.detiels{
    font-size: 20px;
    margin-left: 60%;
    margin-top: -30%;
    

}
.footeer-bacgraound{
    background-color: #242424;
    padding: 9%;
    margin-top: 14%;
    
}
.footar-logo img{
    background: transparent;
    float: right;
    margin-top: -15%;
    margin-right: 15%;
    

}
.page-items{
    padding-left: 29%;
    background: transparent;
    margin-top: -14%;
    list-style: none;
    background-color: #242424;

}
.page-items li{
    background-color: #242424;
    
}
.page-items a{
    background-color: #242424;
}

.contact-page{
    padding-left: 50%;
    margin-top: -11.5%;
    background-color: #242424;
}

.Designed{
   
    height: 40px;
    margin-top: 12%;
    text-align: center;  

}

.Designer-background p{
    background-color: #202020;
    margin-top: 13%;
    text-align: center;
    border: 10px solid #202020;
    
}
